<div class="banner">
    <h1 class="mb-">Line Haul</h1>
</div>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-7 service-content">
            <p>
                Linehaul tracking ensures that the end customer is ready to receive the product/freight which could range from light documents to heavy machinery. Doing this helps carriers to unload the freight at the right time and location, without having to wait for a longer duration, which ultimately affects the consecutive linehaul pickups/ linehaul delivery.
            </p>
        </div>
    </div>
</div>

