<div class="banner">
    <h1 class="mb-">Person to Person Delivery</h1>
</div>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-7">
            <p>
                In a generation where everything happens in an instant, delivery services also need to level up their game. Whether you need to send your father’s reading glasses or surprise your mom with a handwoven shawl, we’ll make sure everything moves with flexibility, speed, and accuracy.
            </p>
        </div>
    </div>
</div>
<div class="order-button">
    <div class=" col-auto ">
        <button type="Track Parcel" class="btn btn-primary mb-3">Place Order</button>
    </div>
</div>