<mat-nav-list>
    <div class="logo py-4">
        <img src="{{ logoUrl }}" alt="company Logo">
        
    </div>
    <mat-divider></mat-divider>
    <h2  matSubheader class="mt-2">Applications</h2>
    <a mat-list-item routerLink="/" routerLinkActive="list-item-active">
        <mat-icon>home</mat-icon>Home
    </a>
    <a mat-list-item routerLink="/dashboard" routerLinkActive="list-item-active">
        <mat-icon>dashboard</mat-icon>Dashboard
    </a>
    <a mat-list-item >
        <mat-icon>edit</mat-icon>Userlist
    </a>
    <a mat-list-item >
        <mat-icon>edit</mat-icon>Account
    </a>
    <a mat-list-item >
        <mat-icon>edit</mat-icon>Setting
    </a>
</mat-nav-list>
