<div class="banner justify-content-center">
    <h1 class="mb-">Merchant Delivery Service</h1>
</div>
<div class="container-lg">
    <div class="row justify-content-center">
        <div class="col-7 service-content">
            <p>
                We understand the hustle you go through while building your business, we empathise with the nervousness of your very first-order. We are here as your partner with the flexibility to deliver things wherever and whenever you require.
            </p>
        </div>
    </div>
</div>

<div class="book-button">
    <div class=" col-auto ">
        <button type=" Book Now " class="btn btn-primary mb-3"><i class="fa fa-truck"></i>Book Now</button>
    </div>
</div>
