<div class="container">
    <div class="row">
        <div class="col-7">
            <div class="reach-area">
                <ul>
                    <li>Bagerhat</li>
                    <li>Barishal</li>
                    <li>Bandarban</li>
                    <li>Barguna</li>
                    <li>Bhola</li>
                    <li>Bogura</li>
                    <li>Brahmanbaria</li>
                    <li>Chandpur</li>
                    <li>Chapainawabganj</li>
                    <li>Chittagong</li>
                    <li>Chuadanga</li>
                    <li>Comilla</li>
                    <li>Cox’s Bazar</li>
                    <li>Dhaka</li>
                    <li>Dinajpur</li>
                    <li>Faridpur</li>
                    <li>Feni</li>
                    <li>Gaibandha</li>
                    <li>Gazipur</li>
                    <li>Gopalganj</li>
                    <li>Hobigonj</li>
                    <li>Jamalpur</li>
                    <li>Jessore</li>
                    <li>Jhalokathi</li>
                    <li>Jhenaida</li>
                    <li>Joypurhat</li>
                    <li>Keranigonj</li>
                    <li>Khagrachari</li>
                    <li>Khulna</li>
                    <li>Kishoreganj</li>
                    <li>Kurigram</li>
                    <li>Kushtia</li>
                    <li>Lalmonirhat</li>
                    <li>Laxmipur</li>
                    <li>Madaripur</li>
                    <li>Magura</li>
                    <li>Manikganj</li>
                    <li>Meherpur</li>
                    <li>Naogaon</li>
                    <li>Moulvibazar</li>
                    <li>Munshiganj</li>
                    <li>Mymensingh</li>
                    <li>Narail</li>
                    <li>Narayanganj</li>
                    <li>Narsingdi</li>
                    <li>Natore</li>
                    <li>Netrokona</li>
                    <li>Nilphamari</li>
                    <li>Noakhali</li>
                    <li>Pabna</li>
                    <li>Panchagarh</li>
                    <li>Patuakhali</li>
                    <li>Pirojpur</li>
                    <li>Rajbari</li>
                    <li>Rajshahi</li>
                    <li>Rangamati</li>
                    <li>Rangpur</li>
                    <li>Satkhira</li>
                    <li>Savar</li>
                    <li>Shariatpur</li>
                    <li>Sherpur</li>
                    <li>Sirajgonj</li>
                    <li>Sunamganj</li>
                    <li>Sylhet</li>
                    <li>Tangail</li>
                    <li>Thakurgaon</li>
               </ul>
            </div>
        </div>
        <div class="col-5">
            <a href="">
                <img loading="lazy"  role="img" src="../../../assets/bangladesh.svg" alt="" width="843" height="1243">
            </a>
        </div>
    </div>
</div>
